.header__button {
  background-color: #FFFFFF;
  color: #F7941E;
  border: 1px solid #F7941E;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding-top: 13px;
  padding-right: 25px;
  padding-bottom: 13px;
  padding-left: 25px;
  text-transform: uppercase;
  @include media-tablet {
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 15px;
  }
}

.hero__button {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-transform: uppercase;
  @include media-tablet {
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 15px;
  }
}

.hero__button--filled {
  background-color: #F7941E;
  border: 1px solid #F7941E;
  border-radius: 5px;
  color: #ffffff;

}

.hero__button--transparent {
  background-color:  #ffffff;
  border: 1px solid #F7941E;
  border-radius: 5px;
  color: #F7941E;

}


.get-started__button {
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  @include media-tablet {
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 15px;
  }
  @include media-mobile {
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
  }
}

.get-started__button--black {
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;

}

.get-started__button--transparent {
  background-color: #F7941E;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
}