.footer {
  padding-top: 115px;
  padding-bottom: 115px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  padding-bottom: 45px;
  @include media-mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.footer__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  color: #000000;
}

.footer__social-media {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-mobile {
    display: flex;
    gap: 15px;
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 75px;
  @include media-mobile {
    display: flex;
    align-items: start;
    justify-content: start;
  }
}

.footer__text-copyright {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
}